<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thedark.example.com.thefoodhouse_client">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.SignInActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".Food.FoodListActivity" />
        <activity android:name=".Food.FoodDetailsActivity" />
        <activity android:name=".Cart.CartActivity" />
        <activity android:name=".Order.OrderStatusActivity" />
        <activity android:name=".Order.OrderDetailsActivity"></activity>
    </application>

</manifest>